.keyboard-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard-display {
    width: 80%;
    max-width: 950px;
    height: 120px;
    margin: 0 auto;
    overflow-y: auto;
    margin-block: 2rem;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #0add74;
    border-radius: 4px;
    resize: none;
}

.container {
    width: 80%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyboard-row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 5px;
}

.keyboard-key {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
    /* min-width: 40px; */
    height: 50px; 
    margin: 0 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.keyboard-key--wide {
    flex: 1.5 0 0;    
}

.keyboard-key--extra-wide {
    flex: 5 0 0; /* for Space key */     
}

.keyboard-key--shifted {
    font-size: 0.7rem;   
    opacity: 0.8;
}

.keyboard-key--base {
    font-size: 0.9rem; 
}     

.keyboard-key--active {
    background-color: #574db4;
}